* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  background-color: rgb(126, 190, 246);
}

#generate {
  display: block;
  margin: 0 auto 10px;
  border: none;
  background-color: rgb(49, 106, 156);
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 1rem;
}

#generate:hover {
  cursor: pointer;
  background-color: rgb(38, 86, 127);
}

#container {
  margin: 0 auto;
  max-height: 90vh;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid white;
  background-color: white;
  border-radius: 4px;
}
