* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;
  max-height: 100vh;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex: 0 0 6.25%;
}

.color {
  background-color: gray;
}
